In [1]:
import pandas

In [2]:
data = pandas.read_csv('titanic.csv', index_col='PassengerId')

In [3]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#1
len(data[data.Sex == 'male'])

577

In [5]:
len(data[data.Sex == 'female'])

314

In [6]:
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [7]:
#2
len(data[data.Survived == 1])

342

In [8]:
data.shape

(891, 11)

In [9]:
data.shape[0]

891

In [10]:
(len(data[data.Survived == 1])/data.shape[0])*100

38.38383838383838

In [11]:
#3
(len(data[data.Pclass == 1])/data.shape[0])*100

24.242424242424242

In [12]:
data['Survived'].mean()

0.3838383838383838

In [13]:
#4
data['Age'].mean()

29.69911764705882

In [14]:
data['Age'].median()

28.0

In [15]:
#5
data['SibSp'].corr(data['Parch'])

0.4148376986201561

In [16]:
#6 
women = data[data.Sex == 'female']['Name']

In [17]:
C = []
for i in women:
    if '(' in i:
    if ')' in i.split('(')[1].split(' ')[0]:
      C.append(i.split('(')[1].split(' ')[0].split(')')[0])
    else:
      C.append(i.split('(')[1].split(' ')[0])

    else:
    C.append(i.split('. ')[1].split(' ')[0])
    
print (C)

['Florence', 'Laina', 'Lily', 'Elisabeth', 'Adele', 'Marguerite', 'Elizabeth', 'Hulda', 'Mary', 'Emelia', 'Fatima', 'Anna', 'Torborg', 'Selma', 'Ellen', 'Marie', 'Mary', 'Augusta', 'Jamila', 'Johanna', 'Dorothy', 'Simonne', 'Margaret', 'Bridget', 'Josefine', 'Myna', 'Elizabeth', 'Emily', 'Constance', 'Amelie', 'Elizabeth', 'Erna', 'Lillian', 'Elizabeth', 'Brigdet', 'Bertha', 'Maria', 'Mabel', 'Ada', 'Matilda', 'Anna', 'Bertha', 'Hileni', 'Katriina', 'Malake', 'Ellis', 'Susan', 'Anna', 'Grace', 'Mathilde', 'Helen', 'Sultana', 'Anna', 'Elin', 'Robina', 'Edith', 'Katherine', 'Elizabeth', 'Edith', 'Anna', 'Eleanor', 'Ann', 'Constance', 'Luise', 'Johanna', 'Rosa', 'Carla', 'Margaret', 'Elise', 'Margaret', '"Mrs', 'Telma', 'Helen', 'Clear', 'Madeleine', 'Eliina', 'Albina', 'Mathilde', 'Irene', 'Lillian', 'Alice', 'Marjorie', 'Thamine', 'Katherine', 'Agda', 'Anna', 'Elna', 'Helena', 'Hanne', 'Gertrude', 'Gladys', 'Anna', 'Lutie', 'Delia', 'Edith', 'Amelia', 'Elizabeth', 'Hanora', 'Kornelia', 'Augusta', 'Rosa', 'Kate', 'Ellen', 'Helen', 'Aloisia', 'Helen', 'Helene', 'Anna', 'Nora', 'Margaret', 'Maria', 'Laura', 'Margaret', 'Emily', 'Anna', 'Helmina', 'Miriam', 'Mary', 'Margaretta', 'Hilda', 'Sylvia', 'Marie', 'Ada', 'Emily', 'Jean', 'Agnes', 'Clara', 'Elizabeth', 'Alice', 'Amelia', 'Marion', 'Mary', 'Elsie', 'Annie', 'Mary', 'Helen', 'Catherine', 'Anna', 'Mantoura', 'Annie', 'Leontine', 'Stina', 'Leila', 'Aurora', 'Rosalie', '"Mary"', 'Mary', 'Kate', 'Bertha', 'Marjorie', 'Agnes', 'Elina', 'Jessie', 'Mari', 'Marija', 'Ida', 'Daisy', 'Annie', 'Lulu', 'Lyyli', 'Catharina', 'Anna', 'Ada', '"Mrs', 'Florence', 'Alice', 'Lucile', 'Doolina', 'Emily', 'Esther', 'Encarnacion', 'Madeleine', 'Marie', 'Marion', 'Ellen', 'Helene', 'Ada', 'Marie', 'Ida', 'Hildur', 'Hedwig', 'Jeannie', 'Jane', 'Elizabeth', 'Bessie', 'Mary', 'Bridget', 'Kristina', 'Roberta', 'Jane', 'Elizabeth', 'Amelia', 'Florence', 'Anne', 'Ida', 'Lucy', 'Phyllis', 'Catherine', 'Marija', 'Eva', 'Bertha', 'Hedwig', 'Harriet', 'Ingeborg', 'Sigrid', 'Ethel', 'Velin', 'Lucille', 'Tillie', 'Emma', 'Marion', 'Alma', 'Charlotte', 'Mary', 'Ethel', 'Alice', 'Maria', 'Julie', 'Marian', 'Ruth', 'Martha', 'Mary', 'Jessie', 'Amy', 'Juliette', 'Elizabeth', 'Alfrida', 'Margaret', 'Alice', 'Cordelia', 'Marion', 'Gretchen', 'Mabel', 'Mary', 'Maria', 'Emma', 'Margit', 'Eugenie', 'Amy', 'Elsie', 'Hanora', 'Hanora', 'Catherine', 'Juliet', 'Elizabeth', 'Anna', 'Augusta', 'Katie', 'Georgette', 'Manca', 'Katherine', 'Madeleine', 'Saiide', 'Florence', 'Alice', '"Mrs', 'Caroline', 'Edwina', 'Annie', 'Lillian', 'Margareth', 'Pieta', 'Elisabeth', 'Margaret', 'Susan', 'Anna', 'Joan', 'Jane', 'Lucy', 'Lucile', 'Anna', 'Mary', 'Mary', 'Eliza', 'Virginia', 'Elisabeth', 'Banoura', 'Vera', 'Anna', 'Stella', 'Farnham', 'Mara', 'Rosalie', 'Charlotte', 'Ellen', 'Bertha', 'Ebba', 'Wendla', 'Clara', 'Beila', 'Martha', 'Selini', 'Sara', 'Augusta', 'Edwiga', 'Nourelain', 'Mary', 'Lilian', 'Leah', 'Mary', 'Latifa', 'Margaret', 'Dorothy', 'Karolina', 'Asuncion', 'Sallie', 'Hannah', 'Adele', 'Lily', 'Imanita', 'Gerda', 'Margaret', 'Margaret', 'Catherine']

In [18]:
from collections import Counter
c = Counter(C)
c

Counter({'Florence': 4,
         'Laina': 1,
         'Lily': 2,
         'Elisabeth': 3,
         'Adele': 2,
         'Marguerite': 1,
         'Elizabeth': 11,
         'Hulda': 1,
         'Mary': 14,
         'Emelia': 1,
         'Fatima': 1,
         'Anna': 15,
         'Torborg': 1,
         'Selma': 1,
         'Ellen': 4,
         'Marie': 4,
         'Augusta': 4,
         'Jamila': 1,
         'Johanna': 2,
         'Dorothy': 2,
         'Simonne': 1,
         'Margaret': 10,
         'Bridget': 2,
         'Josefine': 1,
         'Myna': 1,
         'Emily': 4,
         'Constance': 2,
         'Amelie': 1,
         'Erna': 1,
         'Lillian': 3,
         'Brigdet': 1,
         'Bertha': 5,
         'Maria': 4,
         'Mabel': 2,
         'Ada': 4,
         'Matilda': 1,
         'Hileni': 1,
         'Katriina': 1,
         'Malake': 1,
         'Ellis': 1,
         'Susan': 2,
         'Grace': 1,
         'Mathilde': 2,
         'Helen': 5,
         'Sultana': 1,
         'Elin': 1,
         'Robina': 1,
         'Edith': 3,
         'Katherine': 3,
         'Eleanor': 1,
         'Ann': 1,
         'Luise': 1,
         'Rosa': 2,
         'Carla': 1,
         'Elise': 1,
         '"Mrs': 3,
         'Telma': 1,
         'Clear': 1,
         'Madeleine': 3,
         'Eliina': 1,
         'Albina': 1,
         'Irene': 1,
         'Alice': 6,
         'Marjorie': 2,
         'Thamine': 1,
         'Agda': 1,
         'Elna': 1,
         'Helena': 1,
         'Hanne': 1,
         'Gertrude': 1,
         'Gladys': 1,
         'Lutie': 1,
         'Delia': 1,
         'Amelia': 3,
         'Hanora': 3,
         'Kornelia': 1,
         'Kate': 2,
         'Aloisia': 1,
         'Helene': 2,
         'Nora': 1,
         'Laura': 1,
         'Helmina': 1,
         'Miriam': 1,
         'Margaretta': 1,
         'Hilda': 1,
         'Sylvia': 1,
         'Jean': 1,
         'Agnes': 2,
         'Clara': 2,
         'Marion': 4,
         'Elsie': 2,
         'Annie': 4,
         'Catherine': 4,
         'Mantoura': 1,
         'Leontine': 1,
         'Stina': 1,
         'Leila': 1,
         'Aurora': 1,
         'Rosalie': 2,
         '"Mary"': 1,
         'Elina': 1,
         'Jessie': 2,
         'Mari': 1,
         'Marija': 2,
         'Ida': 3,
         'Daisy': 1,
         'Lulu': 1,
         'Lyyli': 1,
         'Catharina': 1,
         'Lucile': 2,
         'Doolina': 1,
         'Esther': 1,
         'Encarnacion': 1,
         'Hildur': 1,
         'Hedwig': 2,
         'Jeannie': 1,
         'Jane': 3,
         'Bessie': 1,
         'Kristina': 1,
         'Roberta': 1,
         'Anne': 1,
         'Lucy': 2,
         'Phyllis': 1,
         'Eva': 1,
         'Harriet': 1,
         'Ingeborg': 1,
         'Sigrid': 1,
         'Ethel': 2,
         'Velin': 1,
         'Lucille': 1,
         'Tillie': 1,
         'Emma': 2,
         'Alma': 1,
         'Charlotte': 2,
         'Julie': 1,
         'Marian': 1,
         'Ruth': 1,
         'Martha': 2,
         'Amy': 2,
         'Juliette': 1,
         'Alfrida': 1,
         'Cordelia': 1,
         'Gretchen': 1,
         'Margit': 1,
         'Eugenie': 1,
         'Juliet': 1,
         'Katie': 1,
         'Georgette': 1,
         'Manca': 1,
         'Saiide': 1,
         'Caroline': 1,
         'Edwina': 1,
         'Margareth': 1,
         'Pieta': 1,
         'Joan': 1,
         'Eliza': 1,
         'Virginia': 1,
         'Banoura': 1,
         'Vera': 1,
         'Stella': 1,
         'Farnham': 1,
         'Mara': 1,
         'Ebba': 1,
         'Wendla': 1,
         'Beila': 1,
         'Selini': 1,
         'Sara': 1,
         'Edwiga': 1,
         'Nourelain': 1,
         'Lilian': 1,
         'Leah': 1,
         'Latifa': 1,
         'Karolina': 1,
         'Asuncion': 1,
         'Sallie': 1,
         'Hannah': 1,
         'Imanita': 1,
         'Gerda': 1})